.header
  .container
    .brand CityXcape
    - if current_user
      .links
        %ul
          %li= link_to 'My Account', edit_account_path(current_user.id)
          - if current_user.is_admin?
            %li= link_to 'Admin', admin_dashboard_path
          %li= link_to 'Sign out', destroy_user_session_path, method: :delete
