welcome landing page
.landing-welcome
  .landing-header
    .login
      = link_to 'LOGIN', login_path
    .signup
      = link_to 'SIGNUP', login_path
  .landing-video
    tbd video embedded here
  .landing-footer
    = section :footer


