@import 'application/elements';
@import 'application/main';

.footer {
  width: 100%;
  background-color: #888;
  color: #fff;

  .container {
    max-width: $content-width;
    margin: auto;

    .links {
      float: right;
      font-size: 16px;
      li {
        float: left;
        width: 100px;
        line-height: 60px;
      }
    }
  }

  @include clearfix();
}
